<!DOCTYPE html>
<html>
  <meta charset="UTF-8"> 
  <head>
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="vue-calendar-heatmap.min.css"/>
    <link rel="stylesheet" href="mini-default.min.css">
    <script src="vue-calendar-heatmap.browser.min.js"></script>
  </head>
  <style>
  body {background-color: white;}
  </style>
  <body>
    <div id="app">
        <ul>
          <li>{{stackoverflow}} <a href="https://stackoverflow.com/users/2779972/markus">Stackoverflow reputations</a>.</li> 
          <li>>= {{sum}} contributions in the last year on [<a href="https://github.com/markuman">github.com</a>, <a href="https://gitlab.com/markuman/">gitlab.com</a>, <a href="https://git.osuv.de/m/">git.osuv.de</a>]
        </ul><br/>
      <calendar-heatmap :max=10 :values="values" :range-color="['#eaedef', '#c5e48a', '#8bb766', '#417e3b', '#196227']"/>
    </div>
    <script>
  
      
    new Vue({
      el: '#app',
      components: {
        VueCalendarHeatmap
      },
      data: {
        values: [],
        sum: 0,
        stackoverflow: 0,
      },
      beforeMount() {
        let url = new URL(document.URL)
        let user = url.searchParams.get('user')
        let suser = url.searchParams.get('suser')

        // use with http://127.0.0.1:8000/index.html?user=m
        fetch('stats?user=' + user)
          .then(res => res.json())
          .then(data => {
            this.values = data
            for (let n in data) {
              this.sum += data[n]['count']
            }
          })

        fetch('stackoverflow?user=' + suser)
          .then(res => res.json())
          .then(data => {
            this.stackoverflow = data.items[0].reputation
          })
      }
    });
    
  </script>
</body>
</html>
